@import "tailwindcss";

@theme {
  /* Single primary color - use bg-primary, text-primary, border-primary */
  --color-primary: #801CC4;
  
  /* Or define a full color scale for bg-primary-500, text-primary-600, etc. */
  --color-primary-50: #D483F1;
  --color-primary-100: #C156E6;
  --color-primary-200: #AC3BD5;
  --color-primary-300: #9021B9;
  --color-primary-400: #60a5fa;
  --color-primary-500: #77179A;
  --color-primary-600: #560E70;
  --color-primary-700: #410A55;
  --color-primary-800: #340943;

  --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));

}

/* Active navigation link styling */
.active hr {
  @apply block;
}

::-webkit-scrollbar{
  @apply hidden
}